* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: rgb(93, 255, 72);
}
nav {
  width: 100%;
  height: 90px;
  background: #948f8f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px;
}
.logo {
  font-size: 2.5rem;
}
.nav-link-group {
  display: flex;
  gap: 10px;
}
.nav-link {
  background: rgb(70, 211, 70);
  color: #222;
  padding: 4px 8px;
  border-radius: 10px;
}
.header2 {
  width: 100%;
  min-height: 500px;
  position: relative;
}
.first {
  position: absolute;
  background: rgb(185, 173, 173);
  inset: 0;
  clip-path: polygon(0 1%, 100% 0, 100% 43%, 0 96%);
}
.second {
  position: absolute;
  /* background: rgb(196, 45, 45); */
  inset: 0;
}
.header {
  width: 100%;
  min-height: 400px;
  /* background: white; */
  padding: 0 200px;
  display: flex;
  flex-wrap: wrap;
}
.header-text,
.header-img {
  flex: 1;
}
.header-text {
  /* background: pink; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 0 10px; */
}
.header-text * {
  margin-right: auto;
}
.header-text p {
  margin-bottom: 10px;
}
.btn {
  padding: 10px 20px;
  border-radius: 10px;
  background: rgb(26, 170, 26);
  border: none;
  font-weight: bold;
  color: white;
}
.header-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
}
.grid-card {
 margin-bottom: 50px;
 padding: 70px;
}
.grid-card .grid-1 {
  margin-bottom: 0 50px;
  padding: 0 200px;
}
.grid-card .grid-1 img {
  /* margin-bottom: 50px; */
  padding: 20px;
  border-radius: 15px;
  /* border: 1px solid black; */
  margin: 5px;
  box-shadow: black;
}
.grid-card .grid-1 :hover {
  transform: scale(0.9);
}
.grid-1 img{
  box-shadow: 10px 10px 2.5px rgba(0, 0, 0, 0.5);
}
/* servises-section */
div .text{
  background-color: aliceblue;
}
.text {
  width: 100%;
  height: 100%;
}
.text-container {
  width: 100%;
}
.text-container h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 55px;
  font-weight: bold;
}
.text-container p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 90px;
}
.container {
  gap: 20px; 
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  grid-template-rows: 1fr 1fr;
  padding: 25px;
}
 .card {
  border-radius: 8px;
  box-shadow: 10px 10px 2.5px rgba(0, 0, 0, 0.1);
  padding: 0 50px;
  width: 500px; 
  text-align: left;
}
.icon-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.icon-container.yellow {
  background-color: #ff0; 
}
.icon-container.green {
  background-color: #0f0; 
}
.icon-container img {
  max-width: 80%;
  max-height: 80%;
}
h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.2em;
}
p {
  font-size: 0.9em;
  line-height: 1.4;
}
.container :hover {
  transform: scale(0.9);
}
/* servises-section */
/* About-Us */
#about {
  width: 100%;
  min-height: 100vh;
  padding: 30px 70px;
  display: flex;
  flex-wrap: wrap;
}
#about img {
  padding: 50px;
  object-fit: cover;
}
#about div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#about p {
  font-size: 15px;
  padding: 10px;
  backdrop-filter: blur(5px);
}
/* About-Us */
/* work-section */
section {
  width: 100%;
  padding: 30px 70px;
}
.section-title {
  font-size: 2.2rem;
  text-align: center;
}
.work-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 30px;
}
.work-menu-card {
  width: 300px;
  border-radius: 10px;
  box-shadow: 10px 10px 2.5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.work-menu-card h3 {
  font-size: 1rem;
}
.work-menu-card img {
  object-fit: cover;
}
.work-info {
  padding: 10px;
}
/* work section */
